body{
  background: #00b4c6 url(images/clocks.png) left top repeat; /* */
  margin: 0;
  padding: 0;
  font-family: "opensans",sans-serif,"btcglyph";
  height: 100%;
}

.ToDo{
  position: fixed;
  top: 85px;
  width: 35%;
  z-index: 5;
  min-width: 289px;
  max-width: 500px;
}
  #listTrigger{
  display: inline-block;
  width: 50px;
  box-shadow: 0 0 10px black;
  transition: .3s ease;
  margin-left: 1px;
}
#listTrigger:hover{
  filter:brightness(110%);
  box-shadow: 0 0 0 black;
  cursor: pointer;
  border: 1px solid black;
}
.listTrigger-active{
  transform: rotate(180deg);
  position: absolute;
  top: 0;
  right: 0;
}
.drop{
  display: none;
  margin-left: 1px;
  width: calc(100% - 56px);
  background: #9dda31;
  border-radius: 25px 25px 0 0 ;
  box-shadow: 0 0 20px black;
  border: 2px solid black;
  margin-right: -5px;
  padding-bottom:  30px;
}
.drop-active{
  display: inline-block;
}
#taskCreator{
  display: flex;
  width: 100%;
  margin: auto;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 5px;
  border-bottom: 2px solid black;
  align-content: center;
  justify-content:center;
  box-sizing: content-box;
}
#taskTitle{
  display: inline-block;
  font-size: 120%;
  height: 45px;
  border: none;
  width: 70%;
  padding-left: 10px;
  padding-top: 5px;
  border: 1px solid black;
  border-right: none;
}
#taskCreator > p{
  text-align: center;
  font-size: 155%;
  display: inline;
  height: 45px;
  width: 20%;
  background: #00b4c6;
  line-height: 45px;
  border: 1px solid black;
  border-left: 1px solid rgb(102, 102, 102);
  transition: .3s ease;
}
#taskCreator > p:hover{
  cursor: pointer;
  background: #00e8ff;
}
#list {
    margin: 0;
    padding: 0;
    margin-right: 1px;
    height: 60vh;
}
#list li {
    display: inline-block;
    cursor: pointer;
    position: relative;
    text-align: center;
    padding: 12px 0px 12px 0px;
    font-size: 18px;
    transition: 0.2s;
    width: 85%;
}
.li-done{
  text-decoration:line-through;
}
.task:nth-of-type(odd){
  background: #00b4c6;
}
.task:nth-of-type(even){
  background: #008a98;
}
.task{
  height: 50px;
  width: 100%;
  border-bottom: 1px solid black;
  overflow: visible;
}
.task:hover{
 background: #32c932;
}
.task-done{
  height: 50px;
  width: 100%;
  border-bottom: 1px solid black;
  overflow: visible;
  background: #00ff00;
}
.endTask{
  cursor: pointer;
  height: 49.3px;
  position: relative;
  top: -1px;
  box-sizing:border-box;
  display: inline-block;
  width: 15%;
  line-height: 50px;
  text-align: center;
  margin: 0;
}
.endTask:hover{
  background: rgb(255, 51, 51);
  border-left: 1px solid black;
}
.topics{
  text-align: left;
  letter-spacing: 2px;
  font-size: 115%;
  box-shadow: 0 2px 2px black;
}
.topics > li:hover{
text-decoration: underline;
cursor: pointer;
}
h1{
  padding: 8px 0 8px 0;
  border-bottom: 2px solid black;
}
h2{
  text-align: left;
  margin-left: 15px;
  margin-top: 5px;
}
h3{
  margin: 0;
  margin-top: 5px;
  text-align: center;
  line-height: 45px;
  border-bottom: 2px solid black;
  width: 100%;
}
.midParagraph{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  box-shadow: 0 0px 6px black;
}
.paragraph{
  width: 95%;
  text-align: left;
  margin-left: 5%;
  min-height: 180px;
  font-size: 18px;
}
.content{
  background: linear-gradient(#99ff33,yellow, #ff751a);
  width: 90%;
  border: 1px solid black;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 0 15px black;
  text-align: center;
  margin: auto;
}
.topic{
  display: flex;
  top: 0;
  width: 100%;
  height: 80px;
  background: rgba(255,255,255, 0.3);
  margin-bottom: 15px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px black;
}
.Contact-Active{
  background: rgb(70, 66, 66);
  border-top: 2px solid black;
  z-index: 8;
}

#Contact-drop{
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  top: 77.5px;
  width: 100%;
  height: 120px;
  z-index: 7;
  background: rgba(70, 66, 66, 1);
  border: 2px solid rgb(0, 0, 0);
  box-shadow: 0 0 8px black;
}
#Contact-drop  img{
  height: 50px;
  filter:grayscale(90%);
  transition: .3s ease;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}
#Contact-drop  img:hover{
 filter: brightness(105%);
}
#Contact-drop p{
  position: absolute;
  left: 90px;
  display: none;
  color: rgb(0, 171, 255);
  font-size: 130%;
  font-weight: 600;
  text-shadow: 1px 1px 1px black;
}
#fb{
  height: 40px;
  position: fixed;
  right: 0;
  top: 50%;
}
#fb:hover{
  filter: brightness(115%);
}
.brand{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 30px;
  height: 200px;
}
.brand:hover{
  filter: brightness(120%);
}
.topic > p{
  height: 100%;
  line-height: 80px;
  border-left: 2px solid rgb(0, 0, 0);
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  color: black;
  padding-left: 3%;
  padding-right: 3%;
  margin: 0;
  white-space: nowrap;
}
.clocks > img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 120px;
}
.topic > p:last-of-type{
  border-right:  2px solid rgb(0, 0, 0);
}
.topic > p:hover, .topic >img:hover{
  cursor: pointer;
  background: rgb(70, 66, 66);
  color: white;
}

.About{
  display:none;
  position: absolute;
  top: 82px;
  height: 500px;
  width: 700px;
  background: rgb(70, 66, 66);
  left:10%;
  border-radius: 15px;
}
.dropdown{
  position: relative;
  display: block;
  width: 300px;
  height: 500px;
  background: rgb(103, 103, 103);
  z-index: 2;
}
.forma{
  width: 100%;
}
.ColorPick{
  display: inline-block;
  width: 45%;
  margin-top: 10%;
}
.ColorPick >input:hover{
  cursor: pointer;
}
.ColorPick > input{
  width: 60%;
}
.settings{
  margin: auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  background: rgba(0,0,0, 0);
}
.singleSetting{
  width: 30%;
  background: linear-gradient(#99ff33,yellow, #ff751a);
  height: 360px;
  border: 1px solid black;
  box-shadow: 0 0 15px black;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 120%;
  overflow: hidden;
}
#lastBreak{
  width: 25px;
}
.soundsSettings{
  display: none;
}
.different{
  display: block;
}
.singleSetting > p{
 font-weight: 600;
 font-size: 22px;
 text-align: center;
  margin: 0;
}
#LetsGo{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
#LetsGo > img{
  height: 60px;
  margin: 5px;
  margin-top: 0;
}
#LetsGo > img:last-of-type{
  transform: rotateY(180deg);
}
.menu{
  height: 35px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 0;
  margin-top: 2px;
  margin-bottom: 2px;
  background: rgba(0,0,0, 0.3);
  border-bottom: 2px dashed black;
  border-top: 2px dashed black;
  font-size: 24px;

}
.menu >p{
  display: inline;
  width: 50%;
  height: 100%;
  text-align: center;
}
.menu >p:hover{
  background: rgba(0, 0, 0, 0.4);
  color: white;
  cursor: pointer;
}
.menu:last-of-type{
  font-size: 18px;
}

.Time{
  width: 100%;
  text-align: center;
  display: block;
}
.activeMenu{
  background: rgba(0, 0, 0, 0.5);
  color: rgb(0, 171, 255);
}
.singleSetting input{
  display: block;
  margin: auto;
  height: 50px;
  text-align: center;
  border-radius: 15px;
  border: 1px solid green;
  transition: .2s ease-in;
}
input:focus {
    outline: none;
    box-shadow: 0 0 4px green;
}
.Sounds{
  width: 100%;
  display: none;
}
.Sounds >p{
  text-align: center;
  position: relative;
  float: left;
  display: inline-block;
  padding: 0;
  padding-top: 7px;
  margin-left: 0;
  height: 40px;
  width: 40%;
  background: rgba(169, 170, 164, 0.19);
}
.Sounds >p:hover{
  cursor: pointer;
  color: rgb(0, 171, 255);
  text-shadow: 1px 1px 0 black;
}
.listen{
  float: left;
  vertical-align: middle;
  display: inline-block;
  padding: 0;
  margin-left: 0;
  height: 40px;
  width: 10%;
}
.start{
  padding: 0 15px 0 15px;
  background:#351c75;
  border-radius: 5px;
  height: 55px;
  color: #fff;
  font: 30px/30px "Bellota", cursive;
  margin-bottom: 8px;
  border: 1px solid black;
  transition: .4s ease;
}
.start:hover{
  background: #fff;
  color: #351c75;
  cursor: pointer;
}
.start:focus{
  outline: none;
}
.clocks{
  text-align: center;
  display: none;
  width: 90%;
  margin: auto;
  min-height: 350px;
}
#stopButton{
  display: block;
  margin: auto;
}
.clock{
  position: relative;
  display: inline-block;
  width: 20%;
  min-width: 150px;
  padding: 0;
  background: #db7d00;
  height: 250px;
  margin-right:2%;
  margin-left:2%;
  margin-bottom: 8px;
  margin-top: 8px;
  border: 2px solid black;
  border-radius: 80px 80px 0px 0;
  font-size: 50px;
  transition:  0.4s linear;
}
.clock:hover{
  border-radius: 80px 0 0 0;
  box-shadow: 0px 5px 8px black;
}
.clock:hover  .closeButton{
  opacity: 1;
  transform: rotate(0deg);
}
.active{
  background: #95ff00;
}
.closeButton{
  position: absolute;
  opacity: 0;
  margin: 0;
  padding: 0;
  right: 0;
  top: 0px;
  height: 30px;
  cursor: pointer;
  transition: 0.5s linear;
  transform: rotate(180deg);
}

.StopGo{
  position: absolute;
  display: flex;
  justify-content: space-around;
  height: 50px;
  width: 100%;
  background: linear-gradient(90deg,rgba(0,0,0,0.5),rgba(219, 125, 0, 0.5),rgba(0,0,0,0.5));
  padding: 0;
  top: 196px;
  transition: 0.3s linear;
}
.StopGo:hover{
  transform: translateY(-30px);
  background: linear-gradient(90deg,rgba(0,0,0,0.75),rgba(219, 125, 0, 0.75),rgba(0,0,0,0.75));
  height: 80px;
}
.StopGo:hover .play{
  cursor: pointer;
  height: 80px;
  filter: brightness(115%);
}
.VolumeCheck{
  position: absolute;
  float: right;
  width: 40px;
  margin-left: 10px;
}
.play{
  margin: 0 auto;
  padding: 0;
  height: 50px;
  transition-delay: 0.2s;
  transition: 0.2s ease-in;
}
.Themes{
  display: none;
}
@media only screen and (max-width: 991px){
 .singleSetting  input{
   width: 70%;
 }
 .settings{
   flex-wrap: wrap;
 }
 .singleSetting{
   width: 100%;
 }
 .ToDo{
   width: 85%;
 }
}
@media only screen and (max-width: 727px){
.topic > p{
  font-size: 26px;
}
.start {
  font: 26px/26px "Bellota", cursive;
}
}
@media only screen and (max-width: 630px){
.topic > p{
  font-size: 22px;
}
}
@media only screen and (max-width: 540px){
.topic > p{
  font-size: 18px;
}
}
@media only screen and (max-width: 450px){

.start{

}
}
